.header {
  width: 100%;
  box-sizing: border-box;
}

.header-title {
  color: #fff;
  font-size: 18px;
  display: flex;
  min-height: 60px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.header-division{
  width: 30%;
  height: 5px;
  background-color: #d02035;
}

@media only screen and (min-width: 380px) {
  .header-title{font-size: 22px;}
}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 35px;
    height: 100px;
  }
  .header-division{height: 7px;}
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 50px;
    height: 120px;
  }
}
@media only screen and (min-width: 992px) {
  .header-title{
    font-size: 65px;
    height: 150px;
  }
  .header-division{height: 10px;}
}