@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  line-height: 1.4;
  background-color: #282828;
}

a{
  color: #333;
  text-decoration: none;
}

.app {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .app{
    padding: 0px;
  }
}